body {
    color:#333;
}

section {
    margin-bottom:50px;
}

table {
    border-collapse: collapse;
}

table td,table th {
    border:1px solid gray;
    padding:5px;
    min-height:30px;
    font-size:12px;
}

p.attachments_h {
    font-weight: bold;
}

table.attachments_t td {
    border: 0px;
}

table#statuses_t {
    width: 100%
}
